server {
    listen   80 default_server;
    server_name  ${NGINX_HOST};
    return 301 https://$host/$request_uri;

    location / {
      root /usr/local/src/langex;
      add_header Access-Control-Allow-Origin *;
    }
}