$logo-red-color: #a8071a;
$logo-blue-color: #4096ff;
$primary-color: #1677ff;
$success-color: #52c41a;
$warning-color: #faad14;
$danger-color: #ff4d4f;
$secondary-color: #8c8c8c;

.color-red-logo {
  color: $logo-red-color;
}

.color-blue-logo {
  color: $logo-blue-color;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-300 {
  font-weight: 300;
}

.bg-white {
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;

  &:hover {
    background-color: #4096ff !important;
  }
}

.btn-success {
  color: #fff;
  background-color: $success-color;

  &:hover {
    background-color: #73d13d !important;
  }
}

.btn-warning {
  color: #fff;
  background-color: $warning-color;

  &:hover {
    background-color: #ffc53d !important;
  }
}

.btn-danger {
  color: #fff;
  background-color: $danger-color;

  &:hover {
    background-color: #ff7875 !important;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.width-full {
  width: 100%;
}

.d-block {
  display: block;
}

.ma {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.fz-20 {
  font-size: 20px;
}
