$logo-red-color: #a8071a;
$logo-blue-color: #4096ff;
$primary-color: #1677ff;
$success-color: #52c41a;
$warning-color: #faad14;
$danger-color: #ff4d4f;
$secondary-color: #8c8c8c;
$background-color: #f0f2f5;

.has-background-color {
  background-color: $background-color;
}

.white-background {
  background-color: #fff !important;
}

.red-logo-color,
.color-red-logo {
  color: $logo-red-color;
}

.blue-logo-color,
.color-blue-logo {
  color: $logo-blue-color;
}

.primary-color,
.color-primary {
  color: $primary-color;
}

.success-color,
.color-success {
  color: $success-color;
}

.warning-color,
.color-warning {
  color: $warning-color;
}

.secondary-color,
.color-secondary {
  color: $secondary-color;
}

.danger-color,
.color-danger {
  color: $danger-color;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.text-300 {
  font-weight: 300 !important;
}

.text-400 {
  font-weight: 400 !important;
}

.text-500 {
  font-weight: 500 !important;
}

.text-600 {
  font-weight: 600 !important;
}

.text-700 {
  font-weight: 700 !important;
}

.text-800 {
  font-weight: 800 !important;
}

.text-900 {
  font-weight: 900 !important;
}

.bg-white {
  background-color: #fff !important;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;

  &:hover {
    background-color: #4096ff !important;
  }
}

.btn-text-primary {
  color: $primary-color;

  &:hover {
    color: #4096ff !important;
    background-color: #e6f4ff !important;
  }
}

.btn-success {
  color: #fff;
  background-color: $success-color;

  &:hover {
    background-color: #73d13d !important;
  }
}

.btn-text-success {
  color: $success-color;

  &:hover {
    color: #73d13d !important;
    background-color: #f6ffed !important;
  }
}

.btn-link-success {
  color: $success-color;
  &:hover {
    color: #73d13d !important;
  }
}

.btn-outlined-success {
  color: $success-color;
  background-color: "#fff";
  border-color: $success-color;

  &:hover {
    color: #73d13d !important;
    border-color: #73d13d !important;
  }

  &:disabled {
    &:hover {
      border-color: #d9d9d9 !important;
      color: rgba(0, 0, 0, 0.25) !important;
    }
  }
}

.btn-warning {
  color: #fff;
  background-color: $warning-color;

  &:hover {
    background-color: #ffc53d !important;
  }
}

.btn-outlined-warning {
  color: $warning-color;
  background-color: "#fff";
  border-color: $warning-color;

  &:hover {
    color: #ffc53d !important;
    border-color: #ffc53d !important;
  }

  &:disabled {
    &:hover {
      border-color: #d9d9d9 !important;
      color: rgba(0, 0, 0, 0.25) !important;
    }
  }
}

.btn-link-warning {
  color: $warning-color;
  &:hover {
    color: #ffc53d !important;
  }
}

.btn-text-warning {
  color: $warning-color;

  &:hover {
    color: #ffc53d !important;
    background-color: #fffbe6 !important;
  }
}

.btn-danger {
  color: #fff;
  background-color: $danger-color;

  &:hover {
    background-color: #ff7875 !important;
  }
}

.btn-secondary {
  color: #fff;
  background-color: $secondary-color;

  &:hover {
    background-color: #bfbfbf !important;
  }
}

.btn-outlined-secondary {
  color: $secondary-color;
  background-color: "#fff";
  border-color: $secondary-color;
  &:hover {
    color: #bfbfbf !important;
    border-color: #bfbfbf !important;
  }

  &:disabled {
    &:hover {
      border-color: #d9d9d9 !important;
      color: rgba(0, 0, 0, 0.25) !important;
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.d-block {
  display: block;
}

.ma {
  margin: auto;
}

.m-0 {
  margin: 0 !important;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0;
}

.pv-32 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.firt-div-child-full-width {
  div:first-child {
    width: 100%;
  }
}

.input-font-large-placeholder::placeholder {
  font: 24px sans-serif;
  font-weight: 300;
}

.select-with-no-padding-y {
  .ant-select-selector {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none !important;
  }
}

.input-button {
  cursor: pointer;
  background-color: #f0f2f5;
  border: none;

  &:hover {
    background-color: #e6e9f0;
    border: none;
  }
}

.full-height-minus-header {
  height: calc(100vh - 48px - 0.5rem);
}

.overflow-auto {
  overflow: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.notification-item {
  cursor: pointer;

  &:hover {
    background-color: #f0f2f5 !important;
  }
}

.as-the-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 12px;
  padding: 8px 4px;

  &:hover {
    background-color: #e4e6e9 !important;
  }
}

.with-header-height {
  height: 56px !important;
  line-height: 56px !important;
}

.with-header-border-bottom {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06) !important;
}

.z-index-1 {
  z-index: 1;
}

.t-0 {
  top: 0;
}

.slick-dots {
  ul {
    li {
      button {
        &:before {
          color: #fff;
          font-size: 11px;
        }
      }
    }
    li.slick-active {
      button {
        &:before {
          color: #fff;
        }
      }
    }
  }
}

.auto-hide-scroll {
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
    z-index: 100;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    z-index: 100;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent;
    z-index: 100;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: transparent;
      z-index: 100;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
      z-index: 100;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #cfcfcf;
      z-index: 100;
    }
  }
}

// .auto-hide-scroll:hover {
//   overflow-y: scroll;
//   overflow-y: overlay !important;
// }

// .scroll-style-1::-webkit-scrollbar-track {
//   border-radius: 10px;
//   background-color: transparent;
// }
//
// .scroll-style-1::-webkit-scrollbar {
//   width: 8px;
//   background-color: transparent;
// }
//
// .scroll-style-1::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   background-color: #8c8c8c;
// }

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.vocabulary-card {
  .ant-card-actions {
    li:first-child {
      flex: 1;

      span {
        text-align: left;
        line-height: 32px;
      }
    }
  }
}

.card-box-shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.hover-as-text-button {
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    color: rgba(0, 0, 0, 0.88);
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.fix-bugggggggs {
  a {
    &::before {
      display: none;
    }
  }
}
